<header>
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
        我的餐廳清單
      </a>
    </div>
  </nav>
  <div class="banner"></div>
</header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 col-12 mx-auto restaurant-details">
      <div class="restaurant-title">{{name}}</div>
      <div class="restaurant-category mb-3">
        <i class="fas fa-utensils pr-2"></i> 類別：{{category}}
      </div>
      <div class="restaurant-address mb-3">
        <i class="fas fa-map-marker-alt pr-2"></i> 地址：{{location}}
      </div>
      <div class="restaurant-map">
        <a href="{{google_map}}" target="_blank">查看地圖</a>
      </div>
      <div class="restaurant-phone mb-3">
        <i class="fas fa-phone-alt pr-2"></i> 電話：{{phone}}
      </div>
      <div class="restaurant-description mb-3">
        {{description}}
      </div>
      <div class="restaurant-images">
        <img src="{{image}}" class="img-fluid mb-2" alt="{{name}}">
      </div> 
    </div>
  </div>
</div>